@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Mukta&family=Raleway:wght@200&family=Roboto:wght@100;300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans&display=swap);

.Contexto {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  padding: 5rem;
}

.sobre-mi {
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 15px transparent;
  color: white;
  text-align: center;
}

.phone {
  display: flex;
  align-items: center;
  gap: 2px;
  color: white;
  justify-content: center;
}

.mail {
  display: flex;
  align-items: center;
  gap: 2px;
  justify-content: center;
}

.AiFillPhone {
  font-size: 20px;
}

.CgMail {
  font-size: 20px;
  color: white;
}

.yadira img {
  width: 80%;
  margin: auto;
  display: block;
  border-radius: 50%;
}

.technologies {
  text-align: center;
  font-size: 15px;
  font-family: monospace;
}

.technologies-1 {
  padding-right: 4px;
  font-family: monospace;
  font-size: 15px;
}

.cv {
  background-color: rgb(95, 178, 247);
  width: 100%;
  margin: 40px auto;
  border-radius: 10px;
}

.cv a {
  color: white;
  text-decoration: none;
  font-family: monospace;
  font-size: 17px;
  padding: 10px;
  display: block;
}
