.switch {
  background-color: #cdc7da;
  display: block;
  width: 80px;
  height: 30px;
  border-radius: 15px;
  user-select: none;
  padding: 1px;
  cursor: pointer;
  outline: none;
}
.switch::before {
  content: '';
  background-image: linear-gradient(
    to right,
    rgb(73, 185, 230) 0%,
    rgb(25, 150, 150) 100%
  );
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-sizing: border-box;
  transform: translateX(50px);
}
.input:checked ~ .switch:before {
  transform: translateX(0px);
}
.input {
  display: none;
}

.div-dark {
  position: absolute;
  right: 10px;
}

.black {
  color: coral;
}
.white {
  color: blueviolet;
}

@media screen and (max-width: 600px) {
  .div-dark {
    margin-top: 40px;
  }
}

@media screen and (max-width: 300px) {
  .div-dark {
    margin-top: 58px;
  }
}

@media screen and (max-width: 200px) {
  .div-dark {
    display: none;
  }
}
