
.div-footer {
  text-align: center;
  margin-top: 130px;
  border-radius: 10px;
  background-color: #004b87;
  letter-spacing: 2px;
}
.FiHeart {
  margin-left: 6px;
  margin-right: 6px;
  position: relative;
  top: 3px;
  color: #ffffff;
}

.AiFillGithub {
  margin-top: 5px;
  margin-bottom: 3px;
  margin-left: 20px;
  cursor: pointer;
  font-size: 42px;
  border-radius: 50%;
  color: rgb(255, 255, 255);

}

.AiFillGithub:hover {
  color: rgb(28, 192, 204);
}
.me-encuentras {
  padding-top: 10px;
  font-size: 15px;
  color: #30acac;
  font-family: monospace;
}

.FaInstagram {
  margin-left: 20px;
  margin-bottom: 3px;
  font-size: 42px;

  cursor: pointer;
  /* font-size: 30px; */
  border-radius: 30%;
  color: rgb(255, 255, 255);
}
.FaInstagram:hover {
  color: rgb(41, 241, 231);
}

.FiTwitter {
  margin-bottom: 3px;
  color: rgb(255, 255, 255);
  margin-left: 20px;
  cursor: pointer;
  font-size: 42px;

}
.FiTwitter:hover {
  color: rgb(43, 194, 214);
}

.heart {
  color: rgb(92, 235, 235);
  padding-bottom: 30px;
  text-align: center;
}
.gatito-footer {
  margin-top: 20px;
  width: 80px;
  border-radius: 25px;
}
.bluezin-footer{
font-size: 30px;
padding-top: 10px;
}

.bluezin-footer::before {
  content: '{ ';
  color: #37bdbd;

}
.bluezin-footer::after {
  content: ' }';
  color: #37bdbd;

}

@media screen and (max-width: 500px) {
  .div-footer {
    font-size: 13px;

  }
  .FiTwitter {
    font-size: 29px;

  }
  .FaInstagram {
    font-size: 29px;

  }
  .AiFillGithub {
    font-size: 29px;
  }
  .me-encuentras{
    font-size: 13px;
  }
  .bluezin-footer{
    font-size: 18px;
  }
}
@media screen and (max-width: 510px) {
  .div-footer {
    margin-top: 150px;
    padding-bottom: 5px;
  }
}
