.div-footer {
  text-align: center;
  margin-top: 130px;
  border-radius: 10px;
  background-color: rgba(253, 241, 241, 0.3);
  letter-spacing: 2px;
}

.FiHeart {
  margin-left: 6px;
  margin-right: 6px;
  position: relative;
  top: 3px;
  color: rgb(253, 124, 124);
}

.AiFillGithub {
  margin-top: 5px;
  margin-bottom: 3px;
  margin-left: 20px;
  cursor: pointer;
  font-size: 42px;
  border-radius: 50%;
}

.AiFillGithub:hover {
  color: rgb(28, 192, 204);
}
.me-encuentras {
  padding-top: 10px;
  font-size: 20px;
  color: white;
  font-family: monospace;
}

.FaInstagram {
  margin-left: 20px;
  margin-bottom: 3px;
  font-size: 42px;
  cursor: pointer;
  border-radius: 30%;
  color: white;
}
.FaInstagram:hover {
  color: rgb(41, 241, 231);
}

.FiTwitter {
  margin-bottom: 3px;
  color: white;
  margin-left: 20px;
  cursor: pointer;
  font-size: 42px;
}
.FiTwitter:hover {
  color: rgb(43, 194, 214);
}

.heart {
  color: white;
  padding-bottom: 30px;
  text-align: center;
}
.gatito-footer {
  margin-top: 20px;
  width: 80px;
  border-radius: 25px;
}
.bluezin-footer {
  font-size: 40px;
  padding-top: 10px;
  color: white;
  font-family: monospace;
}

.link-github {
  color: white;
  margin-top: 10px;
  cursor: pointer;
  display: block;
  font-weight: bold;
  font-size: 17px;
}

@media screen and (max-width: 500px) {
  .div-footer {
    font-size: 13px;
  }
  .FiTwitter {
    font-size: 29px;
  }
  .FaInstagram {
    font-size: 29px;
  }
  .AiFillGithub {
    font-size: 29px;
  }
  .me-encuentras {
    font-size: 13px;
  }
  .bluezin-footer {
    font-size: 18px;
  }
}
