.Header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0px;
  z-index: 10;
  background-color: rgba(253, 253, 253, 0.3);
}

.Header a {
  text-decoration: none;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
  color: white;
  display: block;
}
.Header a:hover {
  border-bottom: 4px solid #4171f8;
  color: #4171f8;
}

.Header-subcontainer {
  display: flex;
}
