@import url(https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap);

.Home {
  width: 900px;
  margin: auto;
}

.frase {
  font-size: 25px;
  font-family: monospace;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .Home {
    width: 100%;
  }

  .Contexto {
    display: block;
  }

  .Contexto img {
    width: 50%;
  }

  .Header {
    flex-wrap: wrap;
  }

  .Header-subcontainer {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .Contexto {
    padding: 0;
  }
  .Proyects {
    padding: 0;
  }
  .Info {
    padding: 0;
  }
}
