@import url(https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap);

.name::before {
  content: '{ ';
  color: #11ac9c;
}
.name::after {
  content: '  }';
  color: #1c978b;
}

.contexto {
  font-size: 18px;
  font-family: monospace;
  margin-left: 20px;
  margin-bottom: 70px;

  /* color: rgb(0, 0, 0, 0.7); */
}
.contexto::before {
  content: '{ ';
  color: rgb(133, 205, 238);
}
.contexto::after {
  content: ' }';
  color: rgb(226, 37, 147);
}

.frase {
  font-size: 35px;
  font-family: monospace;
  font-weight: bold;
  letter-spacing: 2px;
}
.frase::before {
  content: '{ <p> ';
  color: rgb(74, 199, 199);
}
.frase::after {
  content: ' </p> }';
  color: rgb(74, 199, 199);
}

.frase-div {
  margin-top: 110px;
  margin-bottom: 100px;
  margin-left: 10px;
}

.p-home {
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  margin-left: 20px;

  /* color: rgb(0, 0, 0, 0.7); */
}
.p-home::before {
  content: '{ ';
  color: aqua;
}
.p-home::after {
  content: ' }';
  color: aqua;
}

.div-home {
  margin-top: 100px;
}
.Button-2:hover {
  background-color: cornflowerblue;
}
.Button-div-o {
  margin-top: -70px;
  margin-bottom: 100px;
}
@media screen and (min-width: 1000px) {
  .imagen-home {
    width: 450px;
    /* height: 620px; */
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 50px;
  }
  .home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .Button-2 {
    /* position: absolute; */
    /* right: 230px; */
    margin-left: 150px;
    margin-top: 100px;
    width: 50%;
    padding: 15px;
    background-color: cyan;
    outline: none;
    border: none;
    border-radius: 20px;
    font-family: 'Fredoka One', cursive ;
    cursor: pointer;
  }
}

@media screen and (max-width: 1000px) {
  .frase {
    text-align: center;
  }

  .imagen-home {
    width: 50%;
    margin-bottom: 20px;
    margin-left: 12px;
    margin-top: 80px;
  }
  .imagen-del-div {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  .Button-2 {
    width: 40%;
    padding: 13px;
    outline: none;
    border: none;
    border-radius: 20px;
    font-family: 'Fredoka One', cursive;
    cursor: pointer;
    background-color: cyan;
    margin-top: 100px;
  }

  .Button-div-o {
    text-align: center;
  }
  .p-home {
    font-size: 20px;
  }
}
@media screen and (max-width: 700px) {
  .imagen-home {
    width: 74%;
    margin-bottom: 10px;
    margin-left: 12px;
    border-radius: 10px;
  }
}

@media screen and (min-width: 500px) {
  .name {
    font-family: monospace;
    font-size: 20px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 500px) {


  .frase {
    font-size: 18px;
  }

  .name {
    font-family: monospace;
    font-size: 13px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 290px) {
  .p-home {
    margin-top: 10px;
    font-size: 16px;
  }
}
