/*  */

@import url(https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Anton&display=swap);

@media screen and (min-width: 578px) {
  .Todo-List-css {
    background-color: darkcyan;
    width: 500px;
    height: 270px;
    border-radius: 9px;
    text-align: center;
    margin: auto;
    position: absolute;
    display: none;
    font-family: monospace;
    font-weight: bold;
  
  }
}
@media screen and (max-width: 578px) {
  .Todo-List-css {
    background-color: darkcyan;
    width: 80%;
    height: 270px;
    border-radius: 9px;
    text-align: center;
    margin: auto;
    position: absolute;
    display: none;
    font-family: monospace;
    font-weight: bold;
  
  }
}



.todo-list-div:hover .Todo-List-css {
  display: block;
}
.todo-list-titulo {
  padding-top: 40px;
  padding-bottom: 5px;
}

.todo-list-div {
  display: flex;
  align-items: center;
  justify-content: center;
}



.ir-al-codigo {
  display: inline-flex;
  margin: 14px;
  position: relative;
  font-size: 20px;
  top: -8px;
}

.visitar {
  text-decoration: none;
  color: white;
}

.visitar:hover{
color: rgb(153, 214, 214);
}




.calcu {
  margin-top: 73px;
  width: 500px;
  height: 260px;
  border-radius: 10px;
  cursor: pointer;
}

.todo {
  width: 500px;
  height: 256px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 5px;
}

.postres {
  width: 500px;
  margin-top: 50px;
  border-radius: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

.imagenes {
  width: 500px;
  border-radius: 10px;
  cursor: pointer;
}

.content-p {
  /* background-color: #3666e9; */
  background-color: rgb(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  height: 63px;
  margin-bottom: 50px;
}



.c {
  /* background-color: #3666e9; */
  background-color: rgb(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  height: 63px;
  padding-bottom: 25px;
  margin-bottom: 50px;
}


.a-proyectos {
  text-decoration: none;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  background-color: rgb(0, 0, 0, 0.4);
  border-radius: 20px;
  padding: 10px;
}

.AiOutlineDoubleRight {
  margin-left: 16px;
  color: white;
  position: absolute;
}

.AiOutlineDoubleRight:hover {
  background-color: teal;
  opacity: 0.7;
  border-radius: 50%;
  position: absolute;
  padding: 4px;
}

.ricki {
  padding-bottom: 26px;
}
.proyectos {
  font-family: monospace;
  margin-left: 30px;
  margin-top: 50px;
}

.proyectos::before {
  content: '{ ';
  color: rgb(33, 145, 160);
}

.proyectos::after {
  content: ' }';
  color: rgb(38, 133, 156);
}



@media screen and (min-width: 1126px) {
  .Proyectos-content {
    width: 100%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  .div-pro {
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
  }
}

@media screen and (max-width: 1126px) {
  .Proyectos-content {
    text-align: center;
  }
  .div-pro {
    flex-wrap: wrap;
    text-align: center;
  }
}
@media screen and (max-width: 645px) {
.content-p{
  padding-bottom: 40px;
  font-size: 15px;

}
.c {
  font-size: 15px;
  padding-bottom: 50px;
}

}


@media screen and (max-width: 542px) {
  .calcu {
    width: 70%;
  }
  .postres {
    width: 70%;
  }
  .imagenes {
    width: 70%;
  }
  .todo {
    width: 70%;
  }
 

}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
